@import "compass/css3";

@import url("https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css");

.headline {
  color:rgb(213, 172, 59);
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.headline::before,
.headline::after {
  content: '';
  height: 4px;
  width: 100%;
  /*background-color: #f89406;*/
  display: block;
  left: 0;
  position: absolute;
}
.headline::before {
  top: -6px;
}
.headline::after {
  bottom: -6px;
}
.opacity-small {
  opacity: 0.7;
  filter: Alpha(opacity=70);
}
.opacity-medium {
  opacity: 0.5;
  filter: Alpha(opacity=50);
}
.opacity-large {
  opacity: 0.25;
  filter: Alpha(opacity=25);
}

/*must watch and track header start*/
@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);


.sandbox-correct-pronounciation {
  padding: 10em 0 10em 0;
}

.heading-correct-pronounciation {

  margin: auto;
  text-align: center;
  position: relative;
}


h1 {
  color: #e0b53d;
  font-family: 'Cardo', serif;
  font-size: .2em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}

em {
  color: #e0b53d;
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
	opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
}

}


.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}
/*must watch and track header end*/
