<!-- must watch service -->
<ul class="list-group">
<li class="active"><a href="/userHome"><i class="icon-fixed-width fa fa-search"></i> Search here</a></li>
<li><a href="/trackupcoming"><i class="icon-fixed-width fa fa-globe"></i> Track upcoming</a></li>
</ul>
<div class="container">
    <div ng-controller="MustwatchController as mw" ng-init="mw.getAllMustWatch()">
      <div ng-repeat="search in mw.watchList" class="col-sm-2">
        <div class="row">
          <h4>Title: {{search.title}}</h4>
          <h4> {{search.name}}</h4>
          <h5>Release Date:</h5>
          <p>{{search.release_date}}{{search.first_air_date}}</p>
          <p>{{search.media_type}}</p>
          <!-- angular collapse -->
          <a ng-model="collapsed" ng-click="collapsed=!collapsed"><strong>Overview</strong></a>
          <div ng-show="collapsed">{{search.overview}}</div>
          <!-- angular collapse end -->
    </div>
  </div>
</div>
</div>
