<!-- must watch service -->
<div ng-init="mw.getAllMustWatch(search.title, search.name, search.release_date, search.first_air_date, search.media_type, search.overview)">

</div>
    <div ng-controller="MustwatchController as mw">
      <div ng-repeat="search in mw.watchList" class="col-sm-2">
        <div class="row">
          <h4>{{search.title}}</h4> Title:
          <h4>{{search.name}}</h4> Name:
          <p>{{search.release_date}}</p> Release Date:
          <p>{{search.media_type}}</p> Media Type:
          <p>{{search.overview}}</p> Overview:
      <!-- must watch repeat -->
    </div>
  </div>
</div>
