<ul class="list-group">
  <li class="active"><a href="/mustwatch"><i class="icon-fixed-width fa fa-heart-o"></i> Must watch</a></li>
  </br>
  <li><a href="/trackupcoming"><i class="icon-fixed-width fa fa-globe"></i> Track upcoming</a></li>
</ul>
<div class="lines">
  <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
  <p>Keep track of all your media updates!</p><button class="btn btn-default btn-sm" ng-click="uc.logout()">
<span class="glyphicon glyphicon-log-out"></span> Log Out
</button>
</div>
<!-- the movie database search  -->
<div class="container">
  <input type="text" ng-model="uc.searchbox" class="inputText" placeholder="Movies or Tv Shows">
  <button class="btn btn-default" ng-click="uc.getAllMedia()">Search here</button>

  <div ng-repeat="search in uc.mediaList">
    <h4> {{search.title}}</h4>
    <h4> {{search.name}}</h4>
    <h5>Release Date:</h5>
    <p>{{search.release_date}}{{search.first_air_date}}</p>
    <p>{{search.media_type}}</p>

    <!-- angular collapse -->
    <a ng-model="collapsed" ng-click="collapsed=!collapsed"><strong>Overview</strong></a>
    <div ng-show="collapsed">{{search.overview}}</div>
    <!-- angular collapse end -->
    <!-- must watch controller start -->
    <div ng-controller="MustwatchController as mw">
      <!-- must watch button -->
      <li><a ng-click='mw.postAllMustWatch(search.title, search.name, search.release_date, search.first_air_date, search.media_type, search.overview)'><i class="icon-fixed-width fa fa-heart-o"></i></a></li>
    </div>
    <!-- must watch controller end -->

     <div ng-controller="TrackupcomingController as tu">
    <!-- upcoming tracker button -->
    <li><a ng-click='tu.postAllUpcoming(search.title, search.name, search.release_date, search.first_air_date, search.media_type, search.overview)'><i class="icon-fixed-width fa fa-globe"></i></a></li>
  </div>
</div>
