<div class="lines">
    <h1 id="welcome" class="lead">Welcome, {{uc.userName}}!</h1>
    <p>Keep track of all your media updates!</p>
    <button class="btn btn-default" ng-click="uc.logout()">Log Out</button>
    </div>
<!-- the movie database search  -->
<div class="container">
<input type="text" placeholder="Movies or Tv Shows" ng-model="uc.searchbox"/>
<button type="button" ng-click="uc.getAllMedia()">Search here</button>
<div ng-repeat="search in uc.mediaList" class="col-sm-2 col-md-2">
   <div class="row">
      <h4>{{search.title}}</h4>
      <p>{{search.media_type}}</p>
      <p>{{search.overview}}</p>
    </div>
    <!-- must watch button -->
    <button class="btn btn-primary" ng-click='uc.postAllMustWatch()'>Must Watch</button>
    </div>
    </div>
